<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12">
      <h2>Categories</h2>
      <p>Use the In-sort tool to easily find articles in the Insight book. To find an article, select the category and section that it might appear. Then you will find a list of topics and related items. For example, you might be interested in reading about <i>apples</i>. Navigate to Things > Food > Fruits > Apple</p>

      <ngb-tabset>
        <ngb-tab *ngFor="let tab of tabs" title="{{ tab.name }}">
          <template ngbTabContent>
            <ngb-accordion [closeOthers]="true">
              <ngb-panel *ngFor="let child of tab.children">
                <template ngbPanelTitle>
                  <div (click)="child.isCollapsed = !child.isCollapsed">
                    {{ child.name }} <span *ngIf="child.isNew" class="tag tag-primary">NEW</span>
                    <i class="pull-sm-right fa fa-chevron-down" [class.fa-chevron-down]="child.isCollapsed" [class.fa-chevron-up]="!child.isCollapsed"></i>
                  </div>
                </template>
                <template ngbPanelContent>
                  <app-region-viewer [subjects]="child.children" [displays]="child.displays"></app-region-viewer>
                </template>
              </ngb-panel>
            </ngb-accordion>
          </template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>